<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <h2>Add Product</h2>

    <form action="/sellers/<%= id %>/add" method="post">
      <label for="name">Product Name</label><br />
      <input type="text" id="name" name="name" /><br /><br />

      <label for="imageURL">Product Image URL</label><br />
      <input type="text" id="imageURL" name="imageURL" /><br /><br />

      <label for="description">Product Description</label><br />
      <textarea name="description" maxlength="500"></textarea><br /><br />

      <label for="price">Product Price</label><br />
      <input type="number" id="price" name="price" /><br /><br />

      <select name="CategoryId">
        <% result.forEach(element => { %>
        <option value="<%= element.id %> "><%= element.name %></option>
        <% }) %>
      </select>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
